<ion-header>
  <ion-toolbar color="featured">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/current-sessions"></ion-back-button>
    </ion-buttons>
    <ion-title>User Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 15px;">   
    <ion-row>
    <ion-col>
      <ion-avatar class="image-center">
        <img height="500" src="../../assets/photo.jpg" />
      </ion-avatar>

    </ion-col>
    <!-- <ion-col style="margin-top: 17px;" class="ion-no-padding"> -->
      <ion-icon style="color: white" class="ion-text-end" name="create-outline"></ion-icon>
    <!-- </ion-col> -->
    </ion-row>
    <ion-row class="center">
      <ion-col *ngFor="let item of userData">
        <p><b>{{item.user_name}}</b></p>
        <p>{{item.phone_no}}</p>
        <p>{{item.email}}</p>
      </ion-col>
      
    </ion-row>
    <!-- <ion-card>
      <ion-row>
        <ion-col class="abc">
          <ion-icon name="star"></ion-icon>
          <div><p>52</p></div>
        </ion-col>
        <ion-col offset class="abc">
          <ion-icon name="logo-codepen"></ion-icon>
          <div><p>08</p></div>
        </ion-col>
      </ion-row>
    </ion-card> -->
    <ion-card>
      <ion-row>
        <ion-col><p>Coupons You Have</p></ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col><p>Product References 2</p></ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
