// .abc {
//     text-align: center;
//     font-size: xx-large;
//     }
//     .ion-no-padding{
//         font-size:xx-large;
//     }
.center {
    text-align: center;
    color: white;
}
.image-center{
    margin:0 auto;
}