<ion-header>
  <ion-toolbar color="featured">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Coupon Purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Coupon Type</ion-label>
      </ion-col>
    </ion-row>
    <ion-card>
      <!-- <ion-row>
        <ion-col>
          <ion-label>Coupon Type</ion-label>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <!-- <ion-card> -->
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
  
          <!-- </ion-card> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Validity</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card><br>
    <ion-row>
      <ion-col>
        <ion-label>Payment Type</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-radio-group value="debit/credit">
    <ion-list>
    <ion-item>
      <ion-label>Debit/Credit Card</ion-label>
      <ion-radio slot="start" color="success" value="debit/credit"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>UPI Link</ion-label>
      <ion-radio slot="start" color="success" value="upi"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Phone Pay</ion-label>
      <ion-radio slot="start" color="success" value="phonepay"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Google Pay</ion-label>
      <ion-radio slot="start" color="success" value="googlepay"></ion-radio>
    </ion-item>
  </ion-list>
  </ion-radio-group>
</ion-content>
