<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>SignIn</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="auth-form">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <h1  class="ion-text-center"><b>BIDMOZ</b></h1>
    </ion-toolbar>
  </ion-header>
  <div class="container">
  <ion-card >
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button [routerLink]="['/user-register']" expand="block" color="primary">Register</ion-button>
    
            <span class="divider line one-line">or</span>
    
            <span class="already">Already a user?</span>
    
            <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
