.container {
    // top: 22%;
    margin-top: 25%;
    // --ion-background-color: white;
}
// ion-content{
//     --ion-background-color:#EBEBF5;
//   }


.ion-text-center{
    color: white;
    margin-top: 25%;
  }