<ion-header>
  <ion-toolbar color="featured">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Feature Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of featuredProduct" (click)="coupnDetails(item)">
          <ion-card style="border-radius: 10px;">
              <img height="80" width="150" style="padding: 10px;" src="https://bidmoz.thehereitis.com/bidmoz_app_apis/{{item.product_image_url}}" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar color="featured" slot="start bottom">
        <ion-tab-button (click)="sShare()">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="git-pull-request-outline" (click)="getFeatureProductDetails()"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>