<ion-header>
  <ion-toolbar color="featured">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bid-plans"></ion-back-button>
    </ion-buttons>
    <ion-title>Coupon details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div></div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-justify">
        <p>Valid Only for 24 hrs</p>
        <p>Coupon Price depends upon product category</p>
      <p>Can be used only once for a product, connot be used for other product. But once used for a product, the product can be bid any no of times</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar color="featured" position="bottom">
    <ion-button  color="custom-button" slot="end" (click)="payWithRazorpay()">Purchase Coupon</ion-button>
  </ion-toolbar>
</ion-footer>