.myphoto {
    ion-content img {
    height: 70vh !important;
    width: auto !important;
    align-items: center;
    }
}

// ion-content  {
//     --background: rebeccapurple;

// }

#foo {
    --background: white;
}